body {
    margin: 0;
    padding: 0;
}

.navbar {
    position: fixed;
    width: 100%;
    z-index: 1;
}

.navbar1 {
    display: flex;
    background-color: #000;    
}

.navbar2 {
    display: flex;
    background-color: #fff;
    height: 45px;    
}

.logo {
    /* border: 1px solid red; */
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;    
    /* border: 1px solid red; */
}

ul li {
    margin: 0 4rem;
}

.logo img {
    width: 51px;
    height: 30px;
}

.logo2 {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
}

.menu a {
    color: #fff;
    text-decoration: none;       
}

.menu2 a {
    color: #000;
    text-decoration: none;
}

.lp a {
    color: #000;
    text-decoration: none;    
    background-color: #FFAE00;
    padding: 0.3rem 0.5rem;
    border-radius: 10%;    
}

.bannerbox {
    height: 95px;
}

.create {
    text-align: center;
    color: #000;
    /* border: 1px solid red; */
}

.create a {
    color: #000;
}

input[type=text], input[type=password] {    
    width: 30%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
  }

input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
  }

.container {
    text-align: center;
}

button {
    background-color: #000;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 30%;
    opacity: 0.9;
  }

button:hover {
    opacity: 1;
  } 
 
  .container {
    padding: 16px;
  }  

footer {
    background: #000;
    padding: 1rem;
    text-align: center;
    color: #fff;
}

@media screen and (max-width: 300px) {
    .cancelbtn, .signupbtn {
      width: 100%;
    }
  }